<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="sayfa; else menuBaslik">{{sayfa.title}}</ion-title>
    <ng-template #menuBaslik>
      <ion-title>Meditasyon App</ion-title>
    </ng-template>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor=" let med of datalar" (click)="goMeditasyon(med)">
    <img src="http://mistikyol.com/mistikmobil/thumbnails/{{med.thumbnail}}">
    <ion-card-content>
      <b>{{med.baslik}}</b>
      <p class="uc-satir">{{med.aciklama}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
